body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0056b3;
}

.menu {
    background-color: #bec5cc;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}

section {
    max-width: 1000px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

li {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.social-media {
    margin-bottom: 15px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #333333;
}
